
.App-wrapper{
  display:grid;
  grid-template-rows: 105px 1fr;
  grid-template-columns: 165px 10fr;
  grid-template-areas: "h h"
  "n c"; 
  margin: 0 auto;
  }

.App-wrapper-content {
    grid-area: c;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: rgb(233, 233, 233);
    background-size: 2000px;
}
